$base03:          $dark-grey !default;
$base02:          lighten($dark-grey, 5%) !default;
$base01:          $grey !default;
$base00:          darken($dark-grey, 5%) !default;
$base0:           lighten($dark-grey, 10%) !default;
$base1:           $light-grey;
$base2:           $almost-white;
$base3:           $white;

$solar-yellow:    #C4AD79 !default;
$solar-orange:    #D95E5B !default;
$solar-red:       #D95E5B !default;
$solar-magenta:   #5C8BDB !default;
$solar-violet:    #766CC4 !default;
$solar-blue:      #D5CFC9 !default;
$solar-cyan:      #0099AA !default;
$solar-green:     #55C29A !default;

$solarized: dark !default;

@if $solarized == light {

  $_base03: $base03;
  $_base02: $base02;
  $_base01: $base01;
  $_base00: $base00;
  $_base0:  $base0;
  $_base1:  $base1;
  $_base2:  $base2;
  $_base3:  $base3;

  $base03:  $_base3;
  $base02:  $_base2;
  $base01:  $_base1;
  $base00:  $_base0;
  $base0:   $_base00;
  $base1:   $_base01;
  $base2:   $_base02;
  $base3:   $_base03;
}

/* non highlighted code colors */
$pre-bg: $base03 !default;
$pre-border: darken($base02, 5) !default;
$pre-color: $base1 !default;


