---
layout: default
single: true
---

{% assign active = page.url %}
<div class="post-container padding-most">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="post-date">
    {{ page.date_formatted }}
    <span class="small"> {{ page.date | time_ago_in_words }} </span>
  </div>
  <br/>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="clearfix"></div>
  <div class="post-nav-container">
    {% if page.previous %}
      <a class="previous-post" href="{{page.previous.url}}">&larr; Previous Post</a>
    {% endif %}
    {% if page.next %}
      <a class="next-post" href="{{page.next.url}}">Next Post &rarr;</a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>
