$sans: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif;
$header-font-family: "Yanone Kaffeesatz", "Georgia", "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
$yano: "Yanone Kaffeesatz", "Helvetica Neue", "Helvetica", helvetica, sans-serif, arial;

$text-color: $dark-grey;
$text-color-light: $grey;
$type-border: $light-grey;

$blockquote: $type-border;

// @font-face {
//   font-family: "Yanone Kaffeesatz";
//   src: font-url('yanonekaffeesatz-regular-webfont.eot');
//   src: local('Yanone Kaffeesatz'), 
//   	url('/fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format("embedded-opentype"),
//   	url('/fonts/yanonekaffeesatz-regular-webfont.woff') format("woff"),
//   	url('/fonts/yanonekaffeesatz-regular-webfont.ttf') format("truetype"),
//   	url('/fonts/yanonekaffeesatz-regular-webfont.svg#MerriweatherRegular') format("svg");
// }

::selection {
	background: lighten(desaturate($blue, 70%), 50%);	
	color: $dark-grey;
}

.yano {
	font-family: $yano;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;
}

body {
	font-family: $sans;
	font-size: 16px;
	line-height: 24px;
	color: $dark-grey;
	p {
		font-size: 16px;
		line-height: 24px;
	}
}

h1, h2, h3 {
	font-family: $header-font-family;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}

h1 {
	font-size: 56px;
	line-height: 62px;
}

h2 {
	font-size: 42px;
	line-height: 50px;
}

h3 {
	font-size: 32px;
	line-height: 38px;
}

h4 {
	font-size: 20px;
	line-height: 24px;
	color: $light-grey;
	text-shadow: 0px 0px 1px darken($light-grey, 10%),
								0px -1px 0px $white;
}

h5 {
	font-size: 18px;
	line-height: 22px;
	color: $light-grey;
	text-shadow: 0px 0px 1px darken($light-grey, 10%),
								0px -1px 0px $white;
}

blockquote {
	font-family: $serif;
  $bq-margin: 1.2em;
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: italic;
  position: relative;
  font-size: 16px;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba($text-color-light, .5);
  footer {
  	font-size: 15px;
  }
  cite {
    font-style: italic;
    a { color: $text-color-light !important; word-wrap: break-word; }
    &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
  }
  @media only screen and (min-width: 992px) {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 20px;
  line-height: 26px;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// for extra-small screens (old mobile) 
@media screen and (max-width: 470px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-size: 26px;
    line-height: 34px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  h5 {
    font-size: 16px;
    line-height: 22px;
  }

  .title, .title-abbr {
    h2 {
      font-size: 42px;
      line-height: 50px;
    }
  }

  body, p, blockquote, .yano {
    font-size: 14px;
    line-height: 20px;
  }

  body p {
    font-size: 14px;
    line-height: 20px;
  }

  .pullquote-left:before, .pullquote-right:before {
    font-size: 17px;
    line-height: 22px;
  }

}

// for smaller screens (mostly mobile)
@media screen and (max-width: 799px) and (min-width: 471px) {
  h1 {
    font-size: 38px;
    line-height: 50px;
  }

  h2 {
    font-size: 34px;
    line-height: 46px;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
  }

  h4 {
    font-size: 26px;
    line-height: 34px;
  }

  h5 {
    font-size: 22px;
    line-height: 28px;
  }
  .title, .title-abbr {
    h2 {
      font-size: 42px;
      line-height: 50px;
    }
  }
}
