<div id="wrap">

		<div id="main">

			<div class="sidebar-header padding-more">
				<h2>
					<a class="link-grey" href="{{ root_url }}">
						Alex Browne
					</a>
				</h2>
				<br/>
				<p class="yano" id="tagline">
					Ramblings of a technological and<br/>philisophical nature.
				</p>
			</div>

			<hr/>
			<br/>

			<div class="sidebar-nav">
				{% comment %}
					TODO: set up the navigation in the sidebar...
				{% endcomment %}

				<ul class="nav">
					{% if page.active == 'home' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
						<a href="/">
							<span>
								Home
							</span>
						</a>
					</li>

					<br/>

					{% if page.active == 'archive' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
						<a href="/archive">
							<span>
								Archive
							</span>
						</a>
					</li>
					
				</ul>
			</div>

		</div>

	</div>

	<div id="footer">
		<div class="sidebar-footer">
			<i>&copy; 2012</i> <strong>Alex Browne</strong>
		</div>
	</div>